<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <header>
        <div class="header-content">
            <div class="inner">
                <h1>Venda de ingressos</h1>
                <h4>Trabalho de engenharia de software</h4>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div onclick="display(1)" class="feature">
                        <img src="/img/loupe.png" width="70" height="70"/>
                        <h3>Buscar evento</h3>
                        <p class="text-muted">Veja os eventos da sua região</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 text-center">
                    <div onclick="display(2)" class="feature">
                        <img src="/img/add.png" width="70" height="70"/>
                        <h3>Cadastrar evento</h3>
                        <p class="text-muted">Seja dono do seu próprio evento</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 text-center">
                    <div onclick="display(3)" class="feature">
                        <img src="/img/ticket.png" width="70" height="70"/>
                        <h3>Comprar ingresso</h3>
                        <p class="text-muted">Garanta seu ingresso</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <a id="ingressoFeedBackModal" data-toggle="modal" href="#ingressoFeedBack" style="display: none;"></a>
    <a id="buscaFeedBackModal" data-toggle="modal" href="#buscaFeedBack" style="display: none;"></a>
    <a id="apresentacaoFormModal" data-toggle="modal" href="#apresentacaoForm" style="display: none;"></a>
    <a id="updateApresentacaoFormModal" data-toggle="modal" href="#updateApresentacaoForm" style="display: none;"></a>
    
    <section class="sessao" id="1">
            <div class="container">
                <div class="row col-md-8 col-md-offset-2">
                    
                    <div class="group">
                        <input autocomplete="off" id="estado1" class="text-center" type="text" placeholder="Estado"/>
                        <div class="bar"></div>
                    </div>
                    
                    <div class="group">
                        <input autocomplete="off" id="cidade1" class="text-center" type="text" placeholder="Cidade"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input autocomplete="off" id="data_inicio1" class="text-center" type="text" placeholder="Data inicio (YYYY-MM-DD)"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input autocomplete="off" id="data_fim1" class="text-center" type="text" placeholder="Data fim (YYYY-MM-DD)"/>
                        <div class="bar"></div>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 20px;">
                        <button onclick="buscar()" class="btn btn-primary btn-block btn-lg" >Buscar</button>
                    </div>
                    
                </div>
            </div>
    </section>

    <section class="sessao" id="2">
            <div class="container">
                <div class="row col-md-8 col-md-offset-2">
                    
                    <div class="group">
                        <input id="codEvento" autocomplete="off" class="text-center" type="text" placeholder="Codigo"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="nomeEvento" autocomplete="off" class="text-center" type="text" placeholder="Nome"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="tipoEvento" autocomplete="off" class="text-center" type="text" placeholder="Tipo"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="estadoEvento" autocomplete="off" class="text-center" type="text" placeholder="Estado"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="cidadeEvento" autocomplete="off" class="text-center" type="text" placeholder="Cidade"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="classeEvento" autocomplete="off" class="text-center" type="text" placeholder="Faixa etária (numero)"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="inicioEvento" autocomplete="off" class="text-center" type="text" placeholder="Data de inicio (YYYY-MM-DD)"/>
                        <div class="bar"></div>
                    </div>

                    <div class="group">
                        <input id="fimEvento" autocomplete="off" class="text-center" type="text" placeholder="Data de fim (YYYY-MM-DD)"/>
                        <div class="bar"></div>
                    </div>

                    <div id="listaApresentacao">
                    </div>

                    <div id="nApresentacao" class="col-md-12 text-center">
                        <button type="button" onclick="novaApresentacao()" class="btn btn-primary btn-lg"> Criar apresentação </button>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 20px;">
                        <button onclick="cadastrarEvento()" class="btn btn-primary btn-block btn-lg" >Cadastrar</button>
                    </div>
                    
                </div>
            </div>
    </section>

    <section class="sessao" id="3">
            <div class="container">
                <div class="row col-md-8 col-md-offset-2">
                    
                    <div class="group">
                        <input autocomplete="off" id="codIngresso" class="text-center" type="text" placeholder="Codigo da apresentacao"/>
                        <div class="bar"></div>
                    </div>
                    
                    <div class="group">
                        <input autocomplete="off" id="qtIngresso" class="text-center" type="text" placeholder="Quantidade de ingressos"/>
                        <div class="bar"></div>
                    </div>

                    <div class="col-md-12 text-center" style="margin-top: 20px;">
                        <button onclick="comprarIngresso()" class="btn btn-primary btn-block btn-lg" >Comprar</button>
                    </div>
                    
                </div>
            </div>
    </section>

    <section class="sessao" id="4">
        <div id="listaEventos" class="container">
            <h2 id="buscaTexto" class="text-center" style="margin-top: 60px;"></h2>
        </div>
    </section>

    <div id="ingressoFeedBack" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 id="texto_modal" class="text-center" style="color: #282828"></h2>
                </div>
            </div>
        </div>
    </div>

    <div id="buscaFeedBack" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="eventos" class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

    <div id="apresentacaoForm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="color: #282828">
                    <h2 class="text-center">Apresentação</h2>
                    <form class="contact-form row">
                        <div class="col-md-12">
                            <label></label>
                            <input id="codApre" type="text" class="form-control" placeholder="Código">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="dataApre" type="text" class="form-control" placeholder="Data (YYYY-MM-DD)">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="horarioApre" type="text" class="form-control" placeholder="Horário">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="precoApre" type="text" class="form-control" placeholder="Preço">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="qtApre" type="text" class="form-control" placeholder="Quantidade de ingressos">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="codSalaApre" type="text" class="form-control" placeholder="Código da sala">
                        </div>
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label></label>
                            <h2 onclick="criarApresentacao()" class="text-center butao">Criar</h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="updateApresentacaoForm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="color: #282828">
                    <h2 class="text-center">Apresentação</h2>
                    <form class="contact-form row">
                        <div class="col-md-12">
                            <label></label>
                            <input id="codUpdateApre" type="text" class="form-control" placeholder="Código" disabled>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="dataUpdateApre" type="text" class="form-control" placeholder="Data" disabled>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="horarioUpdateApre" type="text" class="form-control" placeholder="Horário" disabled>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="precoUpdateApre" type="text" class="form-control" placeholder="Preço" disabled>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="qtUpdateApre" type="text" class="form-control" placeholder="Quantidade de ingressos" disabled>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input id="codSalaUpdateApre" type="text" class="form-control" placeholder="Código da sala" disabled>
                        </div>
                        <!-- <div class="col-md-12 col-lg-12 col-xs-12">
                            <label></label>
                            <h2 onclick="deletarApresentacao()" class="text-center butao">Deletar</h2>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--scripts loaded here -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/home.js"></script>
  </body>

</html>